<div class="row">
    @for (photo of member().photos; track photo.id) {
        <div class="col-2 img-wrapper">
            <img src="{{photo.url}}" alt="{{photo.url}}" class="img-thumbnail mb-1" [class.not-approved]="!photo.isApproved">
        </div>
        @if(!photo.isApproved) {
            <div class="text-center img-text">
                <span class="text-danger">Awaiting Approval</span>
            </div>
        }
        <div class="text-center">
            <button class="btn btn-sm me-1" [disabled]="photo.isMain || !photo.isApproved" 
                (click)="setMainPhoto(photo)" [ngClass]="photo.isMain ? 'btn-success active' : 'btn-outline-success'">Main
            </button>
            <button class="btn btn-sm btn-danger" (click)="deletePhoto(photo)" [disabled]="photo.isMain">
                <i class="fa fa-trash"></i> 
            </button>
        </div>
    }
</div>
